
<%- include('header') -%>


<div class="w3-row w3-padding w3-border">
<div class="w3-main" style="margin-left:300px"></div>
<% if (user.adminRights == true) { %>
 
  <!-- Team Section -->
<div class="w3-container" style="padding:4px 16px" id="team">
  <h3 class="w3-center">Admin Area Only</h3>
  <p class="w3-center w3-large">Be Careful In Here And Remember To Log Out</p>

  
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">


    <% result.forEach(function(contact) { %>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-white" >
        <img src="../<%= contact.cImage %>" alt="John" style="width:100%">
        <div class="w3-container">
          <h3><%= contact.cName %> </h3>
          <p class="w3-opacity">On Guess <%= contact.currentMax %> to win <%= contact.cPrize %></p>
          <p>Went Live on <%= contact.cDate %></p>
          <p>Q1:  <%= contact.q1Text %></p>
          <p>Q2:  <%= contact.q2Text %></p>
          <p>Q3:  <%= contact.q3Text %></p>
          <p>Q4:  <%= contact.q4Text %></p>
          <p>Q5:  <%= contact.q5Text %></p>
          <p>Likes <%= contact.cLikes %></p>
          <p><a href="admineditcomp/<%= contact.clueID %>" class="w3-button w3-light-grey w3-block">Edit This Comp</a></p>
        </div>
      </div>
    </div>
    <% }); %>


  </div>
</div>


  


    <%} else { %>
      STRANGER DANGER
    <% } %>

    </div>

 
<%- include('footer') -%>
  