<%- include('header') -%>





<% result.forEach(function(contact) { %>

<div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">
      <div class="w3-col 6"><h3>Editing <%= result[0].dataTitle %></h3></div>
      
      
      
    </div>
    

      <!-- Image header -->


    <div class="w3-justify">
        
        <form accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/edit/<%= result[0].siteArea %>" method="post" >    
            <div class="item">
              
              <label for="name">Image</label>
                <input name="newImage" type="text" class="w3-input w3-border" value="<%= result[0].dataImage %>" />
                  
                  <label for="comment">Comment</label>
                  <textarea name="newContent" class="w3-input w3-border"><%= result[0].dateDescription %></textarea>
               
               

<button class="w3-button w3-light-grey w3-block">Save Changes</button>
      </div>
          </form>

          <% }) %>






 

    </div>

    </div>
  </div>
<hr>

<%- include('footer') -%>