
<%- include('header') -%>


<div class="w3-row w3-padding w3-border">
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="../fullvictory.jpg" alt="winning is everything" width="1600" height="1060">
    <div class="w3-display-left w3-padding-large">
      <h1 class="w3-text-white">Think Clever</h1>
      <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>Be Quick & Strategic</b></h1>
      <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" >Get Started</button></h6>
    </div>
  </header>
    <!-- Blog entries -->
    <div class="w3-col l8 s12">
      
      <!-- Blog entry -->
      <% result[2].forEach(function(contact) { %>
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
        
         
          <div class="w3-col 6"><h3><%= contact.cName %></h3></div>
          <div class="w3-col 6"><h5>Went Live On, <span class="w3-opacity"><%= contact.cDate %> </span></h5></div>
          
          
        </div>
        

          <!-- Image header -->
 

        <div class="w3-justify">
          <img src="./<%= contact.cImage %>" alt="Girl Hat" style="width:50%" class="w3-padding-16">
          <% var shorty = contact.cDescription.substring(0,200) ;  %>
          <p><%= shorty %>...</p>
          
          <a href="/like/<%= contact.clueID %>" class="w3-button w3-white w3-border"><b><i class="fa fa-thumbs-up"></i> Like (<%= contact.cLikes %>)</b></a>
          <p class="w3-right"><a href="/activecompetitions" class="w3-button w3-black">Play</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/activecompetitions"><button class="w3-button w3-black" ><b>Current Guess </b> <span class="w3-tag w3-white"><%= contact.currentMax %></span></button></a></p>
          <p class="w3-clear"></p>
          
          <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
           
            
          
          </div>
        </div>
      </div>
<hr>
<% }); %>
      
      


 
      
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-white w3-margin">
        <img src="./think.jpg" alt="Jane" style="width:100%" class="w3-grayscale">
        <div class="w3-container w3-black">
          <h4>Where Are The Answers</h4>
          <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
        </div>
      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Latest Winners</h4>
        </div>


     
         
        <ul class="w3-ul w3-hoverable w3-white">
          <% result[0].forEach(function(contact) { %>
          <li class="w3-padding-16">
           
            <span class="w3-large"><%= contact.cName %> (<%= contact.comp %>) was won by <%= contact.userName %></span>
            <br>
            
            
            <span><%= contact.dateWon %></span>
          </li>
          <% }); %>
        
        </ul>

        
      </div>
      <hr>

      <!-- Advertising -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Advertise</h4>
        </div>
        <div class="w3-container w3-white">
          <div class="w3-container w3-display-container w3-light-grey w3-section" style="height:200px">
            <span class="w3-display-middle">Your AD Here</span>
          </div>
        </div>
      </div>
      <hr>

      <!-- Tags -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Fashion</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hats</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Norway</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sweaters</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Deals</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Accessories</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Jeans</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Trends</span>
          </p>
        </div>
      </div>
      <hr>

      <!-- Inspiration -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Why Not Try</h4>
        </div>
        <div class="w3-row-padding w3-white">
          <div class="w3-col s12">
            <% result[1].forEach(function(contact) { %>
              <div class="w3-center">
            <p><%= contact.cName %><br><img src="./<%= contact.cImage %>" alt="<%= contact.cImage %>" style="width:50%; text-align:center;"> <a href="/activecompetitions" class="w3-button w3-black">Play Now</a><br>You could win <%= contact.cPrize %></p>
              </div>
            <% }); %>
          </div>
        
        </div>
      </div>
      <hr>

      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Follow Me</h4>
        </div>
        <div class="w3-container w3-xlarge w3-padding">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
      </div>
      <hr>
      
      <!-- Subscribe -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Subscribe</h4>
        </div>
        <div class="w3-container w3-white">
          <p>Enter your e-mail below and get notified on the latest blog posts.</p>
          <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
          <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block w3-red">Subscribe</button></p>
        </div>
      </div>

    <!-- END About/Intro Menu -->
    </div>

  <!-- END GRID -->
  </div>

<!-- END w3-content -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">SUBSCRIBE</h2>
      <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>


<%- include('footer') -%>
  