
<%- include('header') -%>
<div class="w3-content" style="max-width:1100px">
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Testing As Admin</h1><br>
      <h4><%= result[0].cName %></h4>
      <h4>Prize for winning this comp. is <%= result[0].cPrize %></h4>
      <p class="w3-text-grey">Current Max <%= result[0].currentMax %></p><br>
    
      
      
      <% var thenum = bother.match(/\d+/)[0]  %>
      <% if( result[0].currentMax == thenum ){ %>
      The Num is <%= thenum %> and current max <%=  result[0].currentMax %>
            

        <% if( bother == "clue1"){ %>
          <h1 class="w3-center"><%= result[0].cName %></h1>
            <h4>This guess is for <%= bother %></h4>
            <% } else if( bother == "clue2"){ %>  
              <h4>This guess is for <%= bother %></h4>
                <h4><%= result[0].q2Text %></h4>
                <% } else if( bother == "clue3"){ %>  
                  <h4>This guess is for <%= bother %></h4>
                    <h4><%= result[0].q3Text %></h4>
                    <% } else if( bother == "clue4"){ %>  
                      <h4>This guess is for <%= bother %></h4>
                        <h4><%= result[0].q4Text %></h4>
                        <% } else if( bother == "clue5"){ %>  
                          <h4>This guess is for <%= bother %></h4>
                            <h4><%= result[0].q5Text %></h4>
                            
        <% } %>

        <form accept-charset="UTF-8" action="/intestclue/<%= a %>/<%= bother %>" method="post">
          <p><input name="firstClue" class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
          <p><button class="w3-button w3-block w3-red">Check My Clue</button></p>
                      </form>
        <% }  else { %>  
          <h3>You must check the clues in order to ensure they work</h3>
          <% } %>




      <h4>Remember: All clues are one word and case sensitive.</h4>
       <p>For example if the correct answer is <b>Clue</b> then the way you must type it is Clue not clue and not CLUE. Do not type a space or any other charachter at the end of your guess. If you do not use upper case for the first letter and lower case for all others it will register as a wrong guess.</p>
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="./../../<%= result[0].cImage %>" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    <p><%= result[0].cDescription %></p>
    </div>
  </div>

  <hr>
</div>







<%- include('footer') -%>
  