
<%- include('header') -%>
<!-- Promo Section - "We know design" -->


  <!-- ********************************************************************-->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3><%= user.userName %>'s Payment Details</h3>
          <h5><%= user.email %></h5>
        </div>

        <div class="w3-justify">


          <form action="/create-checkout-session" method="POST">
            <button type="submit" id="checkout-button" class="stripe-button">Pay €30</button>
          </form>

<form action="paysubscription" method="get" >
  <script
      src="//checkout.stripe.com/v2/checkout.js"
      class="stripe-button"
      data-key="<%= key %>"
      data-amount="3000"
      data-currency="eur"
      data-name="Win.ie "
      data-description="1 Year Membership for Win.ie"
      data-locale="auto"
      
      
      >
      
      </script>
  </form>
  <p>The total deduction here will be €30 for one year subscription to our competitions club. As a member of the club you can play any competition at no extra cost.</p>
  <p>Payments are handled securely using Stripe. When you are paying your subscription this will be done through the stripe payment gateway. We do not collect any financial data from you at any stage.</p>        
  <img src="./stripedata.png" alt="Girl Hat" style="width:30%" class="w3-padding-16">
          
          <h3>Previous Payments</h3>
          <% result.forEach(function(contact) { %>
<p>€<%= contact.subValue %> <%= contact.datePaid %> </p>

<% }); %>
          
          <p class="w3-clear"></p>
 
          </div>
        </div>
      </div>
      <hr>



      
    <!-- END BLOG ENTRIES -->
    </div>

    



  <%- include('footer') -%>


