
<%- include('header') -%>
<!-- Promo Section - "We know design" -->


  <!-- ********************************************************************-->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3><%= user.userName %>'s Payment Details</h3>
          <h5><%= user.email %></h5>
        </div>

        <div class="w3-justify">
<h3>Previous Payments</h3>
            <% result.forEach(function(contact) { %>
<p>€<%= contact.subValue %> <%= contact.datePaid %> </p>

<% }); %>
          <img src="/w3images/girl_hat.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
          <p><strong>Stats!</strong> Just Some Info For You</p>
          <p>
		
      <a href="/paysubscription" class="w3-button w3-green"><i class="fa fa-th"> </i>Pay Subscription</a>
		
		</p>
          <p class="w3-right"><button class="w3-button w3-black" onclick="myFunction('demo1')" id="myBtn"><b>Replies  </b> <span class="w3-tag w3-white">1</span></button></p>
          <p class="w3-clear"></p>
          <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
            <hr>
     <!-- latet Competition -->
	 <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-green">
          <h4>Latest Competion You Are In</h4>
          
        </div>
  
          
         
        </div>
      </div>
          </div>
        </div>
      </div>
      <hr>



      
    <!-- END BLOG ENTRIES -->
    </div>

    



  <%- include('footer') -%>


